body {
    background-color: blueviolet;
    padding: 20px;
}

h1 {
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}

p {
    background-color: brown;
    color: azure;
    border-radius: 5px;
    width: 200px;
    height: 20px;
    padding: 20px; }